.chat-app {
  width: 100%;
  height: 100vh;
  display: flex;
}

.chat-list {
  width: 30%;
  height: 100%;
  background-color: #3c096c;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.chat-list-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  color: #5a189a;
}

.chat-list-header h2 {
  font-family: "Exo-2", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}

.chat-list-header i {
  font-size: 3.5rem;
  cursor: pointer;
}

.chat-list-item {
  width: 100%;
  height: 3rem;
  background-color: #7b2cbf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 0.2rem;
}

.chat-list-item h4 {
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
}

.chat-list-item i {
  font-size: 2rem;
  color: orangered;
  cursor: pointer;
}

.chat-list-item.active {
  border: 0.2rem solid #3c096c;
  background-color: white;
}

.chat-list-item.active h4 {
  color: #3c096c;
  font-weight: bold;
}

.chat-window {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #5a189a;
}

.chat-title {
  width: 100%;
  min-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.chat-title h3 {
  font-family: "Exo 2", sans-serif;
  font-size: 2rem;
  color: #e0aaff;
}

.arrow {
  font-size: 4rem;
  color: #e0aaff;
  cursor: pointer;
  font-weight: bold;
  transform: rotate(180deg);
}

.chat {
  width: 100%;
  flex-grow: 1;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.prompt,
.response {
  max-width: 80%;
  padding: 3rem;
  font-size: 1.5rem;
  box-shadow: 0 0 2rem black;
}

.prompt {
  background-color: #240046;
  border-bottom-left-radius: 8rem;
  padding-left: 3rem;
  border-radius: 0 3rem 3rem 5rem;
  box-shadow: 0 0 2rem white;
  color: white;
  align-self: flex-start;
  text-align: left;
}

.response {
  background-color: #e0aaff;
  border-radius: 3rem 0 5rem 3rem;
  box-shadow: inset 0.5rem 0.5rem 1rem black;
  color: black;
  align-self: flex-end;
}

.prompt span,
.response span {
  display: block;
  font-family: "Exo 2", sans-serif;
  font-size: 1.2rem;
  margin-top: 0.3rem;
}

.typing {
  font-size: 2rem;
  margin-top: auto;
  font-family: "Exo 2", sans-serif;
  color: #e0aaff;
}

.msg-form {
  width: 100%;
  height: 10rem;
  background-color: #9d4edd;
  display: flex;
  align-items: center;
  padding-right: 5rem;
}

.msg-form i {
  font-size: 3rem;
  color: #10002b;
  cursor: pointer;
}

.smile {
  width: 10rem;
  display: flex;
  justify-content: center;
}

.msg-input {
  height: 100%;
  flex-grow: 1;
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.msg-input::placeholder {
  color: #e0aaff;
}

.msg-input:focus::placeholder {
  opacity: 0;
}
